/*.Student{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:2em;
  padding:10px;
  border: 1px solid rgb(214, 38, 38)
}

.student{
  margin:0;
}*/

.Welcome-message{
  font-size: large;
  background-color: aqua;
  color:aliceblue;
  padding:10px;
  border-radius:5px;
  margin:0;
}

.Login-prompt {
  font-size: large;
  background-color: blue;
  color: azure;
  padding:10px;
  border-radius:5px;
  margin:0;
}